pipeline/PL_TALLER_Patricio_Mendez.json
{
	"name": "PL_TALLER_Patricio_Mendez",
	"properties": {
		"activities": [
			{
				"name": "Consulta",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\nidIngesta,\nEsquema,\nTabla,\nconsulta AS queryOrg\nFROM par.CatIngesta\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_LEER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Consulta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Consulta').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set query",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "query",
								"value": {
									"value": "@{replace(item().queryOrg,'{{fechaCorte}}',pipeline().parameters.fechaCorte)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Carga",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CargaDatos_TALLER_Patricio_Mendez",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"esquema": {
										"value": "@item().esquema",
										"type": "Expression"
									},
									"tabla": {
										"value": "@item().tabla",
										"type": "Expression"
									},
									"query": {
										"value": "@{variables('query')}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"parameters": {
			"fechaCorte": {
				"type": "string"
			}
		},
		"variables": {
			"query": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EVALUACION"
		},
		"annotations": []
	}
}