adf-grupokfc-patricio-mendez/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-grupokfc-patricio-mendez"
		},
		"Is_kfc_datalake_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"Is_kfc_datalake\""
		},
		"Is_fileSystemLocal_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"Is_fileSystemLocal\""
		},
		"ls_local_mysql_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_local_mysql\""
		},
		"Is_kfc_datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsgrupokfcadf.dfs.core.windows.net"
		},
		"ls_keyvault_kfc_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-grupokfc-adf.vault.azure.net/"
		},
		"Is_fileSystemLocal_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Patricio Méndez\\CursoDataFactory"
		},
		"Is_fileSystemLocal_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "KFC\\patricio.mendez"
		},
		"ls_azuresqldatabase_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "connection-string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_EJEMPLI_FLUJOS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "bandera",
							"value": {
								"value": "@add(1,6)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ejecucion correcta",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "ok"
						}
					},
					{
						"name": "ejecucion fallida",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "error"
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ejecucion fallida",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "res 2"
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable2",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "res 3"
						}
					},
					{
						"name": "Set variable4",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "res 4"
						}
					},
					{
						"name": "Set variable5",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ejecucion fallida",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": "res 5"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"bandera": {
						"type": "String"
					},
					"resultado": {
						"type": "String"
					}
				},
				"folder": {
					"name": "CLASE04"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EJEMPLO_CLASE01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline de ejemplo en curso de ADF KFC",
				"activities": [
					{
						"name": "Configurar saludo",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Saludo",
							"value": "Hols ADF"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Saludo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "CLASE01"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Is_kfc_datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexion hacia stora account de KFC",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Is_kfc_datalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Is_kfc_datalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyvault_kfc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión hacia baúl de claves",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyvault_kfc_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-conexion-local')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_USO_FORMULAS_PAR_IMPAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "determinar resultado",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "resultado",
							"value": {
								"value": "@if(equals(mod(pipeline().parameters.numero,2), 0),\nconcat(string(pipeline().parameters.numero),' Es Par' ),\nconcat(string(pipeline().parameters.numero),' Es Impar' ))\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"numero": {
						"type": "int"
					}
				},
				"variables": {
					"resultado": {
						"type": "String"
					}
				},
				"folder": {
					"name": "CLASES ASINCRONICAS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_USO_FORMILAS_MANEJO_FECHA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "f actual",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaActual",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "f formato",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "f actual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaFormatoPersonalizado",
							"value": {
								"value": "@formatDateTime(variables('fechaActual'),'yyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "f inicio mes",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "f formato",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaInicioMes",
							"value": {
								"value": "@startOfMonth(variables('fechaActual'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "f suma perido",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "f inicio mes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaSumaPeriodo",
							"value": {
								"value": "@addToTime(variables('fechaInicioMes'),1,'Month')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "f fin mes",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "f suma perido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaFinMes",
							"value": {
								"value": "@addToTime(variables('fechaSumaPeriodo'),-1,'Day')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"fechaActual": {
						"type": "String"
					},
					"fechaInicioMes": {
						"type": "String"
					},
					"fechaFormatoPersonalizado": {
						"type": "String"
					},
					"fechaSumaPeriodo": {
						"type": "String"
					},
					"fechaFinMes": {
						"type": "String"
					}
				},
				"folder": {
					"name": "CLASES ASINCRONICAS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FECHA_POR_DEFECTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set fecha corteVAR",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fechaCorte",
							"value": {
								"value": "@coalesce(pipeline().parameters.fechaCorte,utcnow())",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fechaCorte": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CLASES ASINCRONICAS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_ESCRIBIR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Is_kfc_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directorio": {
						"type": "string"
					},
					"archivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directorio",
							"type": "Expression"
						},
						"fileSystem": "aci-patricio-mendez"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Is_kfc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_EjemploClase02Nube')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Is_kfc_datalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EjemploClase02Nube.csv",
						"fileSystem": "aci-patricio-mendez"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Is_kfc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PARQUET_EjempoClase02')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Is_kfc_datalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Ejemplic_Clase02.parquet",
						"folderPath": "CLASE02",
						"fileSystem": "aci-patricio-mendez"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Is_kfc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Is_fileSystemLocal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión a un archivo local",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('Is_fileSystemLocal_properties_typeProperties_host')]",
					"userId": "[parameters('Is_fileSystemLocal_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Is_fileSystemLocal_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ir-conexion-local",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-conexion-local')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresqldatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión a azure sql database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyvault_kfc",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_azuresqldatabase_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_keyvault_kfc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_local_mysql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión local a MySQL",
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('ls_local_mysql_connectionString')]"
				},
				"connectVia": {
					"referenceName": "ir-conexion-local",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-conexion-local')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TBL_CatalgoCopiaNube')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresqldatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PatricioMendezCatalgo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TBL_CatalogoOnPremise')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_local_mysql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`registro_trabajo`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_local_mysql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TBL_LEER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresqldatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/XLSX_EjemploClase02')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Is_fileSystemLocal",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CLASE02"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Hoja1",
					"location": {
						"type": "FileServerLocation",
						"fileName": "EjemploClase2.xlsx"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					},
					{
						"name": "Edad",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Is_fileSystemLocal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EJECUTAR_SP1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Saludar]",
							"storedProcedureParameters": {
								"nombre": {
									"value": "Patricio",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azuresqldatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CLASES ASINCRONICAS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CARGA_INCREMENTAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    [idFactura],\n    [idCliente],\n    [idEmpleado],\n    [fechaFactura],\n    [subtotal],\n    [impuestos] \nFROM [dbo].[Factura] \nWHERE YEAR([fechaFactura])=@{pipeline().parameters.año}\nAND MONTH([fechaFactura])=@{pipeline().parameters.mes}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TBL_LEER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_ESCRIBIR",
								"type": "DatasetReference",
								"parameters": {
									"directorio": {
										"value": "@concat('FACTURA/',pipeline().parameters.año,'/',pipeline().parameters.mes)",
										"type": "Expression"
									},
									"archivo": "Factura.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"año": {
						"type": "string"
					},
					"mes": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CLASE03"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/TBL_LEER')]",
				"[concat(variables('factoryId'), '/datasets/CSV_ESCRIBIR')]"
			]
		}
	]
}